* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(199, 242, 35);
  background: linear-gradient(
    90deg,
    rgba(199, 242, 35, 0.1) 58%,
    rgba(255, 252, 0, 0.05) 100%
  );
}

.row {
  display: flex;
}

.cell {
  height: 20px;
  width: 20px;
  border: 1px solid;
  background-color: darkseagreen;
}

#start {
  background-color: darksalmon;
}

#goal {
  background-color: blue;
}

#start,
#goal {
  height: 100%;
  width: 100%;
}

.explored {
  background-color: white;
}

.path {
  background-color: red;
}

.wall {
  background-color: darkblue;
}

.buttons {
  margin-top: 20px;
}

.buttons > * {
  padding: 5px 20px;
}

button {
  background-color: rgb(57, 57, 180);
  border-radius: 10px;
  border: none;
  color: white;
}